<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PDMProyectoEtapa1"
        tools:targetApi="31">
        <activity
            android:name=".ui.compra.MenuCompraActivity"
            android:exported="false" />
        <activity
            android:name=".ui.medicamento.MedicamentosEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".ui.recetamedica.RecetasActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".ui.recetamedica.RecetasConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".ui.recetamedica.RecetasInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".ui.recetamedica.RecetasEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".ui.recetamedica.MenuRecetaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.medicamento.MenuMedicamentos"
            android:exported="false" />
        <activity
            android:name=".ui.medicamento.MedicamentosConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".ui.medicamento.MedicamentosActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".ui.medicamento.MedicamentosInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".ui.medicamento.MedicamentosInsertarActivity"
            android:exported="false"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".ui.articulo.ModificarArticuloActivity"
            android:exported="false" />
        <activity
            android:name=".ui.articulo.InsertarArticuloActivity"
            android:exported="false" />
        <activity
            android:name=".ui.articulo.ConsultarArticuloActivity"
            android:exported="false" />
        <activity
            android:name=".ui.articulo.ArticuloMenuActivity"
            android:exported="false" />
        <activity
            android:name=".ui.articulo.EliminarArticuloActivity"
            android:exported="false" />
        <activity
            android:name=".ui.venta.EliminarVentaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.venta.ConsultarVentaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.venta.AtualizarVentaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.venta.AgregarVentaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.venta.MenuVentasActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>